
.home{
    background-image: url(bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.table_parent{
    position: relative;
    background-color: aliceblue;
    padding: 15px 4px 10px 4px;
    z-index: 1;
    box-shadow: -5px -2px 5px 2px rgb(146,142, 142);
    border-radius: 5px;
    margin: 7% 17px 20px 17px;
}